html, body {
	height: 98%;
}

body {
	background: radial-gradient(#569db9, #337bc6);
}

@media only screen and (max-width : 900px) {
	.helpBlock {
		width: 100% !important;
		padding: 3pt !important;
		border-radius: 0pt !important;
	}
	
	.helpBlock textarea {
		width: 98% !important;
	}
	
	.helpBlock p {
		text-align: center;
	}
}

.helpBlock {
	display: block;
	margin: 20pt auto;
	padding: 5pt;
	width: 70%;
	min-height: 30pt;

	font-family: 'Open Sans', sans-serif;
	background-color: rgba(255,255,255,0.1);
	border-radius: 5pt;
}

.helpBlock img {
	display: block;
	width: 350pt;
	margin: 2pt auto;
}

.helpBlock h1 {
	display: block;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.helpBlock p {
	margin: 10pt;
}

.helpBlock .button {
	display: inline-block;
	margin: 1pt 3pt;
	padding: 5pt;
	text-decoration: none;
	color: black;
	background-color: white;
	border-radius: 5pt;
}

.mInput {
	width: 100%;
	height: 30pt;
	text-align: center;
	font-size: 20pt;
}

.mButton {
	height: 34pt;
	padding: 0pt 10pt 0pt 5pt;
	border-radius: 0pt 20pt 20pt 0pt;
	text-align: center;
	font-size: 18pt;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	outline: none;
}

.mAnswer {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 20pt;
}

.mCorrect {
	color: rgba(50,140,0,1.00);
	font-weight: bold;
}

.mIncorrect {
	color: rgba(255,0,4,0.25);
	text-decoration: line-through;
}

.codeTable {
	margin: 10pt 5pt;
	border-collapse: collapse;
}

.codeTable td, .codeTable th {
	border: 1px solid #ddd;
	padding: 4pt;
}

.codeTable tr { background-color: #b5cbff; }
.codeTable tr:nth-child(even) { background-color: #96b6ff; }
.codeTable tr:hover { background-color: #839fde; }

.codeTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #2969ff;
	color: #ebf1ff;
}