html, body {
	height: 98%;
}

body {
	background: radial-gradient(#569db9, #337bc6);
}

@media only screen and (max-width : 900px) {
	.helpBlock {
		width: 100% !important;
		padding: 3pt !important;
		border-radius: 0pt !important;
	}
	
	.helpBlock textarea {
		width: 98% !important;
	}
	
	.helpBlock p {
		text-align: center;
	}
	
	.prjItem {
		width: 30% !important;
	}
}

@media only screen and (max-width : 550px) {
	.helpBlock img {
		width: 100% !important;
	}
	
	.helpBlock .mAnswer {
		font-size: 15pt;
	}
	
	.mQuestion {
		width: 100% !important;
	}
	
	.mQueTxt, .mQuestion .mAnsOk {
		font-size: 18pt !important;
	}
	
	.prjItem {
		width: 45% !important;
	}
}

.helpBlock {
	display: block;
	margin: 20pt auto;
	padding: 5pt;
	width: 70%;
	min-height: 30pt;

	font-family: 'Open Sans', sans-serif;
	background-color: rgba(255,255,255,0.1);
	border-radius: 5pt;
}

.helpBack {
	position: absolute;
	width: 3em !important;
}

.helpBlock img {
	display: block;
	width: 350pt;
	margin: 2pt auto;
}

.helpBlock h1 {
	display: block;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.helpBlock p {
	margin: 10pt;
}

.helpBlock .button {
	display: inline-block;
	margin: 1pt 3pt;
	padding: 5pt;
	text-decoration: none;
	color: black;
	background-color: white;
	border-radius: 5pt;
}

.prjBlock {
	width: 100%;
}

.prjItem {
	display: inline-block;
	width: 15%;
	padding: 0.2em 1%;
}

.prjItem img {
	width: 100%;
	height: 100%;
	border-radius: 2em;
	background: linear-gradient(45deg, rgba(40, 80, 120, 0.2), rgba(60, 100, 140, 0.2));
	transition: all 0.3s ease;
}

.prjItem img:hover {
	background: linear-gradient(45deg, rgba(40, 80, 120, 0.5), rgba(60, 100, 140, 0.5));
	box-shadow: 0 0 3px 5px rgba(20,40,60,0.6);
	transition: all 0.3s ease;
}

.mInput {
	width: 100%;
	height: 30pt;
	text-align: center;
	font-size: 20pt;
}

.mButton {
	height: 34pt;
	padding: 0pt 10pt 0pt 5pt;
	border-radius: 0pt 20pt 20pt 0pt;
	text-align: center;
	font-size: 18pt;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	outline: none;
}

.mButton2 {
	height: 34pt;
	padding: 0pt 10pt 0pt 5pt;
	border-radius: 20pt;
	text-align: center;
	font-size: 18pt;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	outline: none;
}

.mAnswer {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 20pt;
}

.mCorrect {
	color: #00ed00;
	text-shadow: #063d06 2px 2px 2px;
	font-weight: bold;
}

.mIncorrect {
	color: #4a0a0aaa;
	text-decoration: line-through;
}

.codeTable {
	margin: 10pt 5pt;
	border-collapse: collapse;
}

.codeTable td, .codeTable th {
	border: 1px solid #ddd;
	padding: 4pt;
}

.codeTable tr { background-color: #b5cbff; }
.codeTable tr:nth-child(even) { background-color: #96b6ff; }
.codeTable tr:hover { background-color: #839fde; }

.codeTable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #2969ff;
	color: #ebf1ff;
}

.mQuestion {
	display: block;
	overflow: hidden;
	width: 80%;
	margin: 1em 0em;
	border-radius: 0.8em;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	text-align: left;
	background: #fff;
}

.mQueTxt {
	background: #223355;
	color: white;
	padding: 0.15em;
	font-size: 16pt;
}

.mQuestion table {
	width: 100%;
	cellspacing: 0;
}

.mQuestion tr:nth-child(odd) {
	background: #eee;
}

.mQuestion tr .mAnsOk {
	background: #a0dba4;
}

.mQuestion tr:nth-child(odd) .mAnsOk {
	background: #baffbe;
}

.mQuestion label {
	display: inline-block;
	width: 100%;
}

.mQueOk {
	background: #afa !important;
}

.mQueBad {
	background: #faa !important;
}


.headBottom {
	display: block;
	overflow: visible;
	position: relative;
	background-image: url("img/hHeadB.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 200px;
	height: 200px;
	cursor: help;
}

.headTop {
	display: block;
	overflow: visible;
	position: relative;
	background-image: url("img/hHeadT.png");
	background-repeat: no-repeat;
	background-size: contain;
	width: 200px;
	height: 200px;
}